* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #55555622;
  border: 3px solid #999;
  float: left;
  font-size: 74px;
  font-weight: bold;
  line-height: 34px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 24px;
  margin-bottom: 20px;
  border: 1px solid;
  text-align: center;
  border-radius: 5px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  font-size: 1.7rem;
  padding: 10px;
  border-radius: 5px;  
}

.game-info button {
  margin-left: 20px;
  font-size: 1.7rem;
  background-color: rgb(111, 218, 62);
  border: 1px solid;
  box-shadow: 1px 1px 10px 0px rgb(111, 218, 62);
  border-radius: 5px; 
}
